    <!-- Banner -->
      <section id="banner">

        <!--
          ".inner" is set up as an inline-block so it automatically expands
          in both directions to fit whatever's inside it. This means it won't
          automatically wrap lines, so be sure to use line breaks where
          appropriate (<br />).
        -->
        <div class="inner">

          <header>
            <h2>Les Journées <br />
                Synergiques</h2>
          </header>
          <p>Journées d'initiation à la <strong>programmation</strong>,<br />
          des ateliers gratuits organisés par<br />
          <a href="http://synergie.epita.fr/">Synergie</a>.</p>
          <footer>
            <ul class="buttons vertical">
              <li><a href="#main" class="button fit scrolly">En savoir plus</a></li>
            </ul>
          </footer>

        </div>

      </section>
