{% extends "base.html" %}

{% include 'banner.html' %}

{% block content %}
<!-- Main -->
<article id="main">

  <header class="special container">
    <!--
      <span class="icon fa-bar-chart-o"></span>
    -->
    <span class="icon fa-spin fa-cog"></span>
    <h2>Découvrir le monde de <strong>l'informatique</strong>...</h2>
    <p>
    Les <strong>Journées Synergiques</strong>, ce sont des ateliers d'initiation
    à l'informatique organisées par Synergie. Elles sont à l'attention d'élèves au
    collège afin d'aborder ces
    domaines qui nous <strong>passionnent</strong> en tant qu'étudiants, de manière
    introductive et adaptée
    à un public néophyte.
    Lors de chaque journée, découvrez un nouvel aspect
    de l'informatique !</p>
  </header>

  <!-- One -->
  <section class="wrapper style2 container special-alt">
    <div class="row half">
      <div class="8u">

        <header>
          <h2>
            <span class="icon fa-stack">
              <i style="opacity:0.9;" class="fa fa-square fa-stack-2x"></i>
              <i style="color: #43ae25;" class="fa fa-calendar fa-stack-1x"></i>
            </span>
            Le programme de <strong>l'édition 2017</strong>
          </h2>
        </header>
        <p>
        Tu es élève au collège ?
        L'expérience du numérique est à portée de main ! Pour l'année 2017,
        nous aborderons trois ateliers :
        <ul>
          <li><a href="{{ SITEURL }}/jeu-vidéo.html">Jeux vidéo</a></li>
          <li><a href="{{ SITEURL }}/cryptographie.html">Cryptographie</a></li>
          <li><a href="{{ SITEURL }}/ia.html">Intelligence Artificelle</a></li>
        </ul>
        </p>

        <footer>
          <ul class="buttons">
            <li><a href="{{ SITEURL }}/pages/programme.html" class="button">Voir le programme</a></li>
          </ul>
        </footer>

      </div>
      <div class="4u skel-cell-important">

        <ul class="feature-icons">
          <li><span class="icon fa-gamepad"><span class="label">Jeu Vidéo</span></span></li>
          <li><span class="icon fa-lightbulb-o"><span class="label">IA</span></span></li>
          <li><span class="icon fa-android"><span class="label">Robotique</span></span></li>
        </ul>

      </div>
    </div>
  </section>

  <!-- Two -->
  <p style="position: relative;">
  <a name="mes_articles" style="position: absolute; top: -150px;"></a>
  </p>
  <section class="wrapper style1 container special">
    <div class="row">

      {% for article in articles_page.object_list %}
      <div class="4u">

        <section>
          <span class="icon feature fa-{{ article.icon }}"></span>
          <header>
            <a href="{{ SITEURL }}/{{ article.url }}" rel='bookmark'><h3>{{ article.title }}</h3></a>
          </header>
          <p>{{ article.content[:196]|striptags }}</p>
          <footer>
            <ul class="buttons">
              <li><a href="{{ SITEURL }}/{{ article.url }}" class="button small">Lire l'article</a></li>
            </ul>
          </footer>
        </section>

      </div>
      {% endfor %}

    </div> <!-- /.row -->

    {% include 'pagination.html' %}

  </section> <!-- /section -->

</article>

{% include 'coolstuff.html' %}
{% include 'cta.html' %}

{% endblock content %}
