{% extends "base.html" %}

{% include 'banner.html' %}

{% block content %}
<!-- Main -->
<article id="main">

  <header class="special container">
    <span class="icon fa-bar-chart-o"></span>
    <h2>Découvrir le monde de <strong>l'informatique</strong>...</h2>
    <p>
    Les <strong>Journées Synergiques</strong>, ce sont des ateliers de
    programmation encadrés<br />
    par des étudiants pour des étudiants. Pendant 6 mois, à raison d'une
    journée par mois, <br />
    découvrez à chaque journée un nouvel inspect de l'informatique :
    algorithmie, jeu vidéo, <br />
    cryptographie, intelligence artificielle,  web, robotique, réseau, et bien
    plus encore !<br /><br />
    </p>
  </header>

  <!-- One -->
  <section class="wrapper style2 container special-alt">
    <div class="row half">
      <div class="8u">

        <header>
          <h2>Le programme de <strong>l'édition 2017</strong> : l'expérience du
            numérique à portée de main. À toi de jouer !</h2>
        </header>
        <p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu comteger ut fermentum lorem. Lorem ipsum dolor sit amet. Sed tristique purus vitae volutpat ultrices. eu elit eget commodo. Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo.</p>
        <footer>
          <ul class="buttons">
            <li><a href="/pages/a-propos.html" class="button">Découvrir</a></li>
          </ul>
        </footer>

      </div>
      <div class="4u skel-cell-important">

        <ul class="feature-icons">
          <li><span class="icon fa-clock-o"><span class="label">Feature 1</span></span></li>
          <li><span class="icon fa-volume-up"><span class="label">Feature 2</span></span></li>
          <li><span class="icon fa-laptop"><span class="label">Feature 3</span></span></li>
          <li><span class="icon fa-inbox"><span class="label">Feature 4</span></span></li>
          <li><span class="icon fa-lock"><span class="label">Feature 5</span></span></li>
          <li><span class="icon fa-cog"><span class="label">Feature 6</span></span></li>
        </ul>

      </div>
    </div>
  </section>

  <!-- Two -->
  <section class="wrapper style1 container special">
    <div class="row">

      {% for article in articles_page.object_list %}
      <div class="4u">

        <section>
          <span class="icon feature fa-{{ article.icon }}"></span>
          <header>
            <a href="{{ SITEURL }}/{{ article.url }}" rel='bookmark'><h3>{{ article.title }}</h3></a>
          </header>
          <p>{{ article.content[:196]|striptags }}</p>
          <footer>
              <ul class="buttons">
                  <li><a href="{{ SITEURL }}/{{ article.url }}" class="button small">Lire l'article</a></li>
              </ul>
          </footer>
        </section>

      </div>
      {% endfor %}

    </div> <!-- /.row -->

    {% include 'pagination.html' %}

  </section> <!-- /section -->

</article>

{% include 'coolstuff.html' %}
{% include 'cta.html' %}

{% endblock content %}
